# Compiled Objects Folders
*build/

# Executable
webserv

# Url test executable
test/url

# Stray executables
*.out

.vscode/

output.txt

system/logs/
system/dirListing.html
system/errorPage.html
system/cgi.html
default/site/sessionlog.html