body {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 1% 1% 1% 1%;
	text-align: left;
	display: flex;
	flex-direction: column;
}

header {
	margin: 0;
	padding: 1% 0 0 0;
	text-align: center;
	width: 100%;
	position: relative;
	z-index: 2;
}

.content_left {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;


	width: 50%;
	
	z-index: 2;
}

.text-left {
	text-align: right;
	/* display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center; */
}

h1 {
	font-size: 96px;
}

h2 {
	font-size: 64px;
}

p, ul {
	font-size: 32px;
	text-align: left;
	line-height: 1.1;
}

tiny {
	font-size: 15px;
	text-align: left;
	line-height: 1.1;
}

.img_float_right {
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 1;
	margin-left: auto;
}

.container {
	white-space: pre;
	flex: 1;
	/* position: relative; */
	z-index: 2;
}

a:link {
	color: #737373;
}

a:visited {
	color: #737373;
}

a:hover {
	color: #ff0000;
}

a:active {
	color: #ff0000;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

.button_01 {
	background-color: #007bff; /* Change this to your desired background color */
	color: #ffffff; /* Change this to your desired text color */
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	transition: background-color 0.3s ease, color 0.3s ease;
	width: 200px;
}

.button_01:hover {
	background-color: #0056b3; /* Change this to your desired hover background color */
}

input {
	border: none;
	outline: none;
}

.input-container_01 {
	display: inline-block;
	background-color: #7f7f7f;
	border-radius: 5px;
	padding: 5px;
	height: 100px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;	
}

.input_01 {
	height: 50px;
	width: 200px;
	background-color: rgb(161, 161, 161);
	padding: 0px;
	border: none;
	font-size: 16px;
	color: #cbcbcb;
}

.input_01::placeholder {
	color: #cdcdcd;
}
  
.input_01:focus {
	border: none;
	outline: none;
/* 	background-color: #e0e0e0; */
}