body {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 1% 1% 1% 1%;
	text-align: left;
	display: flex;
	flex-direction: column;
}

header {
	margin: 0;
	padding: 1% 0 0 0;
	text-align: center;
	width: 100%;
	position: relative;
}

.content {
	display: flex;
	/* justify-content: center; */
}

.text-left {
	text-align: right;
	/* display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center; */
}

h1 {
	font-size: 42px;
}

/* p {
	font-size: 16px;
	line-height: 1.5;
	margin-right: 300px;
} */

img {
	text-align: right;
	/* position: absolute; */
	/* top: 0;
	/* right: 0; */
	/* height: 100%; */
	/* z-index: 1; */
	/* Inline Style */
	margin-left: auto;
}

.container {
	white-space: pre;
	flex: 1;
	/* position: relative; */
	z-index: 2;
}

